[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Simple and easy to use text editor
Exec=deepin-editor %F
GenericName=Text Editor
Icon=deepin-editor
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-patch;text/x-adasrc;text/css;application/x-desktop;text/x-fortran;text/html;text/x-objcsrc;application/x-perl;application/x-php;text/vnd.wap.wml;text/x-python;application/x-ruby;text/sgml;application/xml;model/vrml;image/svg+xml;application/json;application/toml;application/x-zerosize;
Name=Text Editor
StartupNotify=false
Type=Application
X-Deepin-AppID=deepin-editor
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-Deepin-Vendor=deepin
X-MultipleArgs=false

# Translations:
# Do not manually modify!
Comment[ar]=محرر النصوص بسيط وسهل الاستخدام
Comment[az]=Sadə və rahat mətn redaktoru
Comment[bo]=སྟབས་བདེ་ལ་སྤྱོད་བདེ་བའི་ཡིག་ཆ་རྩོམ་སྒྲིག་ཆས།
Comment[br]=An aozer testennoù simpl hag aes d'ober gantañ
Comment[ca]=Editor de text simple i fàcil d'usar
Comment[cs]=Jednoduchý a snadno se používající textový editor
Comment[da]=Simpel og letanvendelig teksteditor
Comment[de]=Einfacher, leicht zu bedienender Texteditor
Comment[el]=Απλός κι εύχρηστος επεξεργαστής κειμένου
Comment[es]=Editor de texto simple y fácil de usar
Comment[et]=Lihtne ja  kergesti kasutatav tekstiredaktor
Comment[fi]=Yksinkertainen ja helppokäyttöinen tekstieditori
Comment[fr]=Éditeur de texte simple et facile à utiliser
Comment[gl_ES]=Editor de texto sinxelo e fácil de usar
Comment[hi_IN]=सरल व उपयोग हेतु सुगम लेख संपादक
Comment[hr]=Jednostavan i lagan za korištenje uređivač teksta
Comment[hu]=Letisztult és könnyen használható szövegszerkesztő
Comment[it]=Editor di testo semplice e facile da usare. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ko]=단순하고 사용하기 쉬운 텍스트 편집기
Comment[lt]=Paprastas ir lengvas naudoti tekstų redaktorius
Comment[ms]=Penyunting teks yang ringkas dan mudah digunakan
Comment[nl]=Eenvoudig te gebruiken tekstbewerker
Comment[pl]=Prosty i łatwy w użyciu edytor tekstu
Comment[pt]=Editor de texto simples e fácil de usar
Comment[pt_BR]=Um editor de texto simples e fácil de usar
Comment[ru]=Простой и удобный текстовый редактор
Comment[sl]=Preprost urejevalnik besedil
Comment[sq]=Përpunues tekstesh i thjeshtë dhe i kollajtë për t’u përdorur
Comment[sr]=Уењђивач текста који је једноставан за употребу
Comment[tr]=Basit ve kullanımı kolay metin düzenleyici
Comment[ug]=ئاددىي، قوللىنىشچان تېكىست تەھرىرلىگۈچ
Comment[uk]=Простий і доступний текстовий редактор
Comment[lo]=ຕົວແກ້ໄຂຂໍ້ຄວາມທີ່ງ່າຍ ແລະ ສະດວກໃຊ້
Comment[zh_CN]=简单好用的文本编辑器
Comment[zh_HK]=簡單好用的文本編輯器
Comment[zh_TW]=簡單好用的文字編輯器
GenericName[ar]=محرر النصوص
GenericName[az]=Mətn Redaktoru
GenericName[bo]=ཡིག་ཆ་རྩོམ་སྒྲུག་ཆས།
GenericName[br]=Aozer testennoù
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[da]=Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής Κειμένου
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[gl_ES]=Editor de texto
GenericName[hi_IN]=लेख संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[it]=Editor di Testo
GenericName[ko]=텍스트 편집기
GenericName[lt]=Tekstų redaktorius
GenericName[ms]=Penyunting Teks
GenericName[nl]=Tekstbewerker
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de Textos
GenericName[ru]=Текстовый редактор
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Përpunues Tekstesh
GenericName[sr]=Уређивач Текста
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[lo]=ຕົວແກ້ໄຂຂໍ້ຄວາມ
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文本編輯器
GenericName[zh_TW]=文字編輯器
Name[ar]=محرر نصوص ديبين
Name[az]=Deepin Mətn Redaktoru
Name[bo]=གཏིང་ཟབ་ཡིག་ཆ་རྩོམ་སྒྲིག་ཆས།
Name[br]=Aozer testennoù Deepin
Name[ca]=Editor de text del Deepin
Name[cs]=Deepin textový editor
Name[da]=Deepin teksteditor
Name[de]=Deepin Texteditor
Name[el]=Deepin Επεξεργαστής Κειμένου
Name[es]=Editor de texto
Name[et]=Deepin tekstiredaktor
Name[fi]=Deepin tekstieditori
Name[fr]=Éditeur de texte Deepin
Name[gl_ES]=Editor de texto Deepin
Name[hi_IN]=दीपिन लेख संपादक
Name[hr]=Deepin uređivač teksta
Name[hu]=Deepin® Szövegszerkesztő
Name[it]=Editor di Testo di Deepin
Name[ko]=Deepin 텍스트 편집기
Name[lt]=Deepin tekstų redaktorius
Name[ms]=Penyunting Teks Deepin
Name[nl]=Deepin Tekstbewerker
Name[pl]=Edytor Tekstu Deepin
Name[pt]=Editor de texto Deepin
Name[pt_BR]=deepin Editor de Textos
Name[ru]=Текстовый Редактор Deepin
Name[sl]=Deepin urejevalnik besedil
Name[sq]=Përpunues Tekstesh Deepin
Name[sr]=Дипин Уређивач Текста
Name[tr]=Deepin Metin Düzenleyici
Name[ug]=Deepin تېكىست تەھرىرلىگۈچ
Name[uk]=Текстовий редактор Deepin
Name[lo]=ຕົວແກ້ໄຂຂໍ້ຄວາມ
Name[zh_CN]=文本编辑器
Name[zh_HK]=Deepin 文本編輯器
Name[zh_TW]=Deepin 文字編輯器

