[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Simple and easy to use deepin editor
Exec=deepin-editor %F
GenericName=Editor
Icon=deepin-editor
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Name=Deepin Editor
Type=Application
StartupNotify=false
Comment[zh_CN] = 简单好用的深度编辑器
Icon[zh_CN] = 深度编辑器
Name[zh_CN] = 深度编辑器
GenericName[zh_CN] = 编辑器
Comment[lt] = Paprastas ir lengvas naudoti deepin redaktorius
Icon[lt] = deepin-editor
Name[lt] = Deepin redaktorius
GenericName[lt] = Redaktorius
Comment[cs] = Jednoduchý snadno se používající editor
Icon[cs] = editor
Name[cs] = Editor
GenericName[cs] = Editor
Comment[pt_BR] = Deepin Editor. Simples e fácil de usar
Icon[pt_BR] = deepin-editor
Name[pt_BR] = Deepin Editor
GenericName[pt_BR] = Editor
Comment[uk] = Простий і доступний редактор deepin
Icon[uk] = deepin-editor
Name[uk] = Редактор Deepin
GenericName[uk] = Редактор
Comment[nl] = Eenvoudig te gebruiken tekstbewerker
Icon[nl] = deepin-editor
Name[nl] = Deepin Bewerker
GenericName[nl] = Bewerker
Comment[pl] = Szybki i łatwy w użyciu Edytor Deepin
Icon[pl] = Edytor Deepin
Name[pl] = Edytor Deepin
GenericName[pl] = Edytor
Comment[it] = Utilizzare Deepin Editor è veramente semplice
Icon[it] = deepin-editor
Name[it] = Deepin Editor
GenericName[it] = Editor
Comment[ru] = Простой и легкий в использовании редактор deepin
Icon[ru] = редактор-deepin
Name[ru] = Редактор Deepin
GenericName[ru] = Редактор
Comment[sk] = Jednuducho a ľahko použiteľný deepin editor
Icon[sk] = deepin-editor
Name[sk] = Deepin Editor
GenericName[sk] = Editor
Comment[es] = Editor deepin simple y fácil de usar
Icon[es] = deepin-editor
Name[es] = Editor Deepin
GenericName[es] = Editor
Comment[ca] = Editor Deepin, simple i fàcil d'utilitzar
Icon[ca] = deepin-editor
Name[ca] = Editor Deepin
GenericName[ca] = Editor
Comment[da] = Simpel og letanvendelig deepin-editor
Icon[da] = deepin-editor
Name[da] = Deepin editor
GenericName[da] = Editor
Comment[ast] = Un editor cenciellu y fácil d'usar
Icon[ast] = deepin-editor
Name[ast] = Deepin Editor
GenericName[ast] = Editor
Comment[de] = Einfacher, leicht zu bedienender Texteditor für deepin.
Icon[de] = deepin-editor
Name[de] = Deepin Editor
GenericName[de] = Editor
Comment[tr] = Deepin Düzenleyici uygulamasını kullanmak basit ve kolaydır
Icon[tr] = deepin-duzenleyici
Name[tr] = Deepin Düzenleyici
GenericName[tr] = Düzenleyici
Icon[ja] = deepin-editor
Comment[pt] = Editor deepin simples e fácil de usar
Icon[pt] = deepin-editor
Name[pt] = Editor Deepin
GenericName[pt] = Editor
Icon[sr] = deepin-editor
Comment[ms] = Penyunting deepin yang ringkas dan mudah digunakan
Icon[ms] = deepin-editor
Name[ms] = Penyunting Deepin
GenericName[ms] = Penyunting
Comment[hu] = Letisztult és könnyen használható deepin szerkesztő
Icon[hu] = deepin-editor
Name[hu] = Deepin Editor
GenericName[hu] = Szerkesztő
