[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Simple and easy to use deepin editor
Exec=deepin-editor %F
GenericName=Editor
Icon=deepin-editor
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-patch;text/x-adasrc;text/x-chdr;text/x-csrc;text/css;application/x-desktop;text/x-patch;text/x-fortran;text/html;text/x-java;text/x-tex;text/x-makefile;text/x-objcsrc;text/x-pascal;application/x-perl;application/x-perl;application/x-php;text/vnd.wap.wml;text/x-python;application/x-ruby;text/sgml;application/xml;model/vrml;
Name=Deepin Editor
StartupNotify=false
Type=Application
X-Deepin-Vendor=deepin

